.logo{
    margin-top: 5px;
    padding: 15px;
    margin-left: 80px;
    float: left;
}
.cal{
   margin-top: 32px;
    margin-left: 400px;
    float: left;
    padding-right: 5px;
}
.call{
    float: left;
    margin-top: 10px;
}
.search{ 
    float: left;
    margin-left: 300px;
    padding-left: 30px;
    margin-top: 30px;
}
.ico{
float:left;
margin-left:-20px;
margin-top: 36px;
}
